@font-face {
  font-family: "Haffer";
  src: url("https://cdn.prod.website-files.com/69dcc68547ac15ea8b175579/69dcc68547ac15ea8b17558b_HafferRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Haffer";
  src: url("https://cdn.prod.website-files.com/69dcc68547ac15ea8b175579/69dcc68547ac15ea8b175594_HafferSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.ob043-root {

    --button-043-color: #fff;
    --button-043-color-background: #e94658;
    --button-043-hover-color-background: #411E34;
    --button-043-icon-color: #e94658;
    --button-043-icon-color-background: #fff;
    --button-043-color-focus: #000;
    --button-043-padding: 0.6875em 0.6875em 0.6875em 0.9375em;
    --button-043-border-radius: 0.25em;
    --button-043-icon-border-radius: 0.125em;
    --button-043-text-duplicate-distance: 1.5em;
    --button-043-focus-inset: -0.125em;
    --button-043-ease-click: cubic-bezier(0.4, 0, 0.2, 1);
    --button-043-ease-hover: cubic-bezier(0.625, 0.05, 0, 1);
    --button-043-ease-focus: cubic-bezier(0.32, 0.72, 0, 1);
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Haffer", Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: calc(var(--size-font) * 1.5);
}

.ob043-root *,
.ob043-root *::after,
.ob043-root *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.ob043-root .button-043 {
    -webkit-tap-highlight-color: transparent;
  }


  @media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {.ob043-root .button-043:is(:hover, :focus-visible) .button-043__bg-hover,
.ob043-root [data-hover]:is(:hover, :focus-visible) .button-043 .button-043__bg-hover {
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
.ob043-root .button-043:is(:hover, :focus-visible) .button-043__icon,
.ob043-root [data-hover]:is(:hover, :focus-visible) .button-043 .button-043__icon {
      transform: translate3d(200%, 0, 0);
    }
.ob043-root .button-043:is(:hover, :focus-visible) .button-043__icon-bg,
.ob043-root [data-hover]:is(:hover, :focus-visible) .button-043 .button-043__icon-bg {
      transform: rotate(90deg);
    }
.ob043-root .button-043:is(:hover, :focus-visible) .button-043__text,
.ob043-root [data-hover]:is(:hover, :focus-visible) .button-043 .button-043__text {
      transform: translate(0px, calc(-1 * var(--button-043-text-duplicate-distance)));
    }

  }.ob043-root .button-043:is(:focus-visible)::after {
    box-shadow: 0 0 0 0.125em var(--button-043-color-focus);
  }
.ob043-root .button-043::after {
    content: '';
    display: block;
    position: absolute;
    inset: var(--button-043-focus-inset);
    border-radius: var(--button-043-border-radius);
    transition: box-shadow 0.2s var(--button-043-ease-focus);
    scale: var(--button-043-focus-scale);
    pointer-events: none;
    z-index: 1;
  }
.ob043-root .button-043__bg-hover,
.ob043-root .button-043__icon,
.ob043-root .button-043__icon-bg,
.ob043-root .button-043__text {
    transition: transform 0.525s var(--button-043-ease-hover);
  }
.ob043-root .button-043__bg-hover {
    transform: translate3d(0, 175%, 0) rotate(15deg);
  }
.ob043-root .button-043__text {
    text-shadow: 0px var(--button-043-text-duplicate-distance) currentColor;
  }
.ob043-root .button-043__inner { grid-column-gap: .5em; grid-row-gap: .5em; width: 100%; height: 100%; padding: var(--button-043-padding); grid-area: 1 / 1; justify-content: center; align-items: center; display: flex; }
.ob043-root .button-043__icon-bg { background-color: var(--button-043-icon-color-background); border-radius: var(--button-043-icon-border-radius); grid-area: 1 / 1; width: 100%; height: 100%; padding: 0; }
.ob043-root .button-043__icon-mask { grid-area: 1 / 1; justify-content: flex-end; width: 100%; height: 100%; display: flex; position: relative; overflow: clip; }
.ob043-root .button-043__icon { width: 1.125em; height: 1.125em; padding: .2em; }
.ob043-root .button-043__icon-list { flex-flow: row; grid-area: 1 / 1; display: flex; position: absolute; }
.ob043-root .button-043__mask { clip-path: inset(-10% 0); flex: none; justify-content: center; align-items: center; display: flex; }
.ob043-root .button-043__bg { background-color: var(--button-043-color-background); border-radius: var(--button-043-border-radius); grid-area: 1 / 1; justify-content: center; align-items: center; width: 100%; height: 100%; display: flex; position: relative; overflow: clip; }
.ob043-root .button-043__icon-wrap { width: 1.125em; height: 1.125em; color: var(--button-043-icon-color); border-radius: var(--button-043-icon-border-radius); flex: none; display: grid; position: relative; }
.ob043-root .button-043 { -webkit-user-select: none; user-select: none; color: var(--button-043-color); background-color: #0000; outline-style: none; padding: 0; line-height: 1; text-decoration: none; display: inline-grid; position: relative; }
.ob043-root .button-043__bg-hover { background-color: var(--button-043-hover-color-background); width: 120%; height: 100%; padding: 0; position: absolute; bottom: 0%; left: -10%; }

.ob043-root .button-043 { border: 0; cursor: pointer; font-family: inherit; font-size: inherit; }
