@font-face {
  font-family: "Haffer";
  src: url("https://cdn.prod.website-files.com/69dcc68547ac15ea8b175579/69dcc68547ac15ea8b17558b_HafferRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Haffer";
  src: url("https://cdn.prod.website-files.com/69dcc68547ac15ea8b175579/69dcc68547ac15ea8b175594_HafferSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.ob078-root {

    --button-078-color: #fff;
    --button-078-color-background: #7C71E7;
    --button-078-border-color: #121212;
    --button-078-color-focus: #000;
    --button-078-border-radius: 2.5em;
    --button-078-padding: 0.75em 1em;
    --button-078-translate-y: 0.25em;
    --button-078-focus-inset: -0.25em;
    --button-078-click-scale: 0.955 0.925;
    --button-078-ease-hover: cubic-bezier(0.38, 0.005, 0.215, 1);
    --button-078-ease-click: cubic-bezier(0.4, 0, 0.2, 1);
    --button-078-ease-focus: cubic-bezier(0.32, 0.72, 0, 1);
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Haffer", Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: calc(var(--size-font) * 1.5);
}

.ob078-root *,
.ob078-root *::after,
.ob078-root *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.ob078-root .button-078 {
    -webkit-tap-highlight-color: transparent;
  }


  @media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {.ob078-root .button-078:is(:hover, :focus-visible) .button-078__container,
.ob078-root [data-hover]:is(:hover, :focus-visible) .button-078 .button-078__container {
      translate: 0 calc(var(--button-078-translate-y) * -0.5);
    }
.ob078-root .button-078:active .button-078__container {
      transform: translateY(var(--button-078-translate-y));
    }

  }

  @media (hover: none) and (pointer: coarse) and (prefers-reduced-motion: no-preference) {.ob078-root .button-078:active .button-078__container {
      transform: translateY(calc(var(--button-078-translate-y) * 0.5));
    }
.ob078-root .button-078::before {
      translate: 0 var(--button-078-translate-y);
    }

  }.ob078-root .button-078:is(:focus-visible)::after {
    box-shadow: 0 0 0 0.125em var(--button-078-color-focus);
  }
.ob078-root .button-078::after {
    content: '';
    display: block;
    position: absolute;
    inset: var(--button-078-focus-inset);
    border-radius: var(--button-078-border-radius);
    transition: box-shadow 0.3s var(--button-078-ease-focus);
    pointer-events: none;
    z-index: 1;
  }
.ob078-root .button-078::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--button-078-border-color);
    border-radius: var(--button-078-border-radius);
    translate: 0 calc(var(--button-078-translate-y) * 0.5);
  }
.ob078-root .button-078__container {
    transition:
      translate 0.25s var(--button-078-ease-hover),
      transform 0.1s var(--button-078-ease-click);
  }
.ob078-root .button-078__spark {
    position: absolute;
    width: 0.25em;
    height: 0.1875em;
    border-radius: 0.25em;
    background: var(--button-078-border-color);
    pointer-events: none;
    z-index: 1;
  }


  @media (prefers-reduced-motion: reduce) {.ob078-root .button-078__spark {
      display: none;
    }

  }.ob078-root .button-078 { color: var(--button-078-color); -webkit-user-select: none; user-select: none; background-color: #0000; outline-style: none; padding: 0; line-height: 1; text-decoration: none; display: inline-grid; position: relative; }
.ob078-root .button-078__place { pointer-events: none; width: 100%; height: 100%; translate: 0 calc(var(--button-078-translate-y) * .5); grid-area: 1 / 1; padding: 0; position: relative; }
.ob078-root .button-078__container { z-index: 1; grid-area: 1 / 1; width: 100%; height: 100%; display: grid; position: relative; }
.ob078-root .button-078__bg { border-radius: var(--button-078-border-radius); border-style: solid; border-width: .125em; border-top-color: var(--button-078-border-color); border-right-color: var(--button-078-border-color); background-color: var(--button-078-color-background); border-bottom-color: var(--button-078-border-color); border-left-color: var(--button-078-border-color); grid-area: 1 / 1; width: 100%; height: 100%; padding: 0; }
.ob078-root .button-078__inner { width: 100%; height: 100%; padding: var(--button-078-padding); grid-area: 1 / 1; }
.ob078-root .button-078 .split-char { display: inline-block; transform-origin: center center; will-change: transform; }

.ob078-root .button-078 { border: 0; cursor: pointer; font-family: inherit; font-size: inherit; }
